<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kurale&family=Raleway:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>final project</title>   
</head>
<body>
      
<header> 
 
    <img src="./hero section 2.jpg" class="banner">
    <a href="#" class="logo">Baai-Friend </a>
    <div class="toggle"></div>
    <nav>
        <ul>
            <li><a href="https://gallant-swanson-5fba4b.netlify.app">Register</a></li>
            <li><a href="#">Faculty</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="https://peaceful-aryabhata-f82977.netlify.app/">Feedback</a></li>
        </ul>
    </nav>
</header>
 
 <script>
     window.addEventListener("scroll",function(){
         const header = document.querySelector('header');
        header.classList.toggle('sticky', windowscrollY > 0);
     });
 
 </script>
 <!-------Principal greetings---- -->

        
    <section class="principal">
      <h2><span> Principal greetings</span></h2></section>
        <div class="content1">
          <div class="cardib">
              <div class="firstinfo"><img 
                  src="./principal.jpg" />
                  <div class="profileinfo">
                      <h1>Dr. Kamla Kapoor</h1>
                      <h3>-Principal, बाई-Friend</h3>
                      <p class="bio">Welcome to बाई-Friend and another great college year! I look forward
                        to sharing a wonderful year of learning with you. Our teachers are continually
                        looking for new and creative ways to engage our students and get them excited
                        about learning. We have high expectations for all our students and in order to
                        ensure success, this year will be a joint effort between the students, teachers,
                        administrators and parents. </p>
                  </div>
              </div>
          </div>
      </div>
    
 
    <script>
        window.addEventListener("scroll",function(){
            const header = document.querySelector('header');
            header.classList.toggle('sticky',window.scrollY > 0);
        });
 
        const navigation = document.querySelector('nav');
        document.querySelector('.toggle').onclick = function(){
            this.classList.toggle('active');
            navigation.classList.toggle('active');
 
        }
    </script>
 
 <!-- --------- Admission button ------------ -->
 
    <div class="admission">
        <a href="">Admission 2021-22 </a>

    </div>
    
   <!-- ------------Course Offered------------ -->
    
   <section class="course">
    <h2><span>Course offered</span></h2>
    </section>
    <script>
       jQuery(document).on('scroll', function(){
                   jQuery('h1').css("left", Math.max(100 - 0.2*window.scrollY, 1) + "vw");
                   })
    </script>
<div class="container">
  <div class="card">
    <div class="imgBx">
          <img src="./cooking.jpg" alt="">
    </div>
<div class="content">
<h1>Cooking</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, culpa nisi nulla hic nostrum pariatur eaque magnam fuga cumque, autem enim explicabo ipsum accusamus ipsa. A at hic labore ipsa.
                    Minima, swiggy se tie-up hai apna eaque magnam fuga cumque, autem enim explicabo ipsum accusamus ipsa. 
                </p>
</div>
</div>
 
<div class="card">
   <div class="imgBx">
      <img src="./cleaning.jpg" alt="">
</div>
<div class="content">
<h1>Cleaning</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, culpa nisi nulla hic nostrum pariatur eaque magnam fuga cumque, autem enim explicabo ipsum accusamus ipsa. A at hic labore ipsa.
                        Minima, upar se kapda ghumaayegi sirf pariatur eaque magnam fuga cumque, autem enim explicabo ipsum accusamus ipsa.</p>
</div>
</div>

​
    

<div class="card">
<div class="imgBx">
<img src="./elder.jpg"alt="">
</div>
<div class="content">
<h1>Elderly Care</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, culpa nisi nulla hic nostrum pariatur eaque magnam fuga cumque, autem enim explicabo ipsum accusamus ipsa. A at hic labore ipsa.
                            Minima, fek dungi buddhe ko eaque magnam fuga cumque, autem enim explicabo ipsum accusamus ipsa.</p>
</div>
</div>


</div>

<!-----------Alumni-------- -->


<section class="alumni">
  <h2><span> Word Of Alumni</span></h2>
  </section>
<div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">
  
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="./maid 1.jpeg" alt="">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">Cooking Specialist</span>
          <div class="blog-slider__title">Prof. Shalan Ma'am</div>
          <div class="blog-slider__text"> बाई-Friend has shaped into a perfect maid which every house owner desires to have..The tactics, The training and The faculty here are simply amazing! </div>
          <a href="#" class="blog-slider__button">Read More..</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="./maid 5.jpeg" alt="">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">Laundary Specialist</span>
          <div class="blog-slider__title">Prof. Manju Ma'am</div>
          <div class="blog-slider__text"> बाई-Friend will help you all to easily reach the expectations and to perfectly fit in the mould of being a maid</div>
          <a href="#" class="blog-slider__button">Read More..</a>
        </div>
      </div>
      
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="./maid 3.jpeg" alt="">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">Cleaning Specialist</span>
          <div class="blog-slider__title">Prof. Shiny Ma'am</div>
          <div class="blog-slider__text"> An absolutely suitable institution for anyone who wishes or aspires to ace this maid job!</div>
          <a href="#" class="blog-slider__button">Read More..</a>
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img src="./maid 4.jpeg" alt="">
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">Expert Baby Sitter</span>
          <div class="blog-slider__title">Prof. Kaanta Ma'am</div>
          <div class="blog-slider__text">A place where you can go on the path to become a very successful maid with no speedbrakers!</div>
          <a href="#" class="blog-slider__button">Read More..</a>
        </div>
      </div>

      
      
    </div>
    <div class="blog-slider__pagination"></div>
  </div>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
  <script type="text/javascript" src="script.js"></script>

  <!-- -------Recruiters----- -->

  <section class="recruiter">
    <h2><span> Top Recruiters</span></h2>
    </section>
  <div class="slider">
    <div class="slider-track">
        <div class="slide">
            <img src="./bhaandi.jpg" alt="">
         </div>

         <div class="slide">
            <img src="./jhaadu.jpeg" alt="">
         </div>

         <div class="slide">
            <img src="./safai.jpg" alt="">
         </div>

         <div class="slide">
            <img src="./pocha.jpg" alt="">
         </div>

         <div class="slide">
            <img src="./laundary.jpg" alt="">
         </div>

        <div class="slide">
            <img src="./bhaandi.jpg" alt="">
         </div>

         <div class="slide">
            <img src="./jhaadu.jpeg" alt="">
         </div>

         <div class="slide">
            <img src="./safai.jpg" alt="">
         </div>

         <div class="slide">
            <img src="./pocha.jpg" alt="">
         </div>

         <div class="slide">
            <img src="./laundary.jpg" alt="">
         </div>


        
    </div>
</div>

  <!-- -----footer---- -->

  <footer class="footer">
    <div class="foot">
        <div class="row">
            <div class="footer-col">
                <h4>Branches</h4>
                <ul>
                    <li><a href="">Banglore</a></li>
                    <li><a href="">Hyderabad</a></li>
                    <li><a href="">Mumbai</a></li>
                    <li><a href="">Lal Chowk</a></li>

                </ul>
            </div>


            <div class="footer-col">
                <h4>Rules and Policies</h4>
                <ul>
                    <li><a href="">Payment on time </a></li>
                    <li><a href="">Only Crypto currency accepted</a></li>
                    <li><a href="">No scolding and no arguement</a></li>
                    <li><a href="">Diwali bonus should be in advance</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Faculty Members</h4>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href="">Prof. Shalan Ma'am</a></li>
                    <li><a href="">Prof. Manju Ma'am</a></li>
                    <li><a href="">Prof. Shiny Ma'am</a></li>
                    <li><a href="">Prof. Kaanta Ma'am</a></li>
                    

                </ul>
            </div>

            <div class="footer-col">
                <h4>Contact us</h4>
                <div class="social-media">
                <ul></ul>
                   <a href="#"><i class=" fab fa-facebook-f"></i></a>
                   <a href="#"><i class=" fab fa-instagram"></i></a>
                   <a href="#"><i class=" fab fa-twitter"></i></a>
                </ul>
            </div>


        </div>
    </div>
</footer>

</body>
</html>